.about-institues-section {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.aboutInstitues-buttons-contaner {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about-cat-btn {
  width: auto;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  background: none;
  font-weight: 600;
}
.about-cat-btn:focus {
  outline: none;
}
.active-aboutBtn {
  background: #1bac99;
  color: #ffffff;
}

.aboutInstitues-form-container {
  background-color: #ffffff;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.intimgbox {
  gap: 0 !important;
  justify-content: space-between !important;
}
.imgbox-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.deleteimgBtn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
  color: #ce2e28;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
}

.ratingranking-section {
  width: 80%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.ratingranking-container {
  width: 48%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.editor-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.toolbar {
  background-color: #ccc9c9;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toolbar .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropdown .select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-btn-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.group-btn-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-left: 1px;
}

.button-active {
  background-color: #ce2e28;
}

.group-btn-box button:focus {
  outline: none;
}

.editor {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.editor:focus {
  outline: none;
}

.input-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  z-index: 10;
}

.input-icon-box i {
  font-size: 20px;
  color: #ccc;
}

@media screen and (max-width: 1080px) {
  .aboutInstitues-form-container {
    width: 100%;
  }
  .about-cat-btn {
    font-size: 14px;
    padding: 8px;
  }
  .ratingranking-section {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .about-cat-btn {
    font-size: 16px;
  }
}
