.courses-institues-section {
  width: 100%;
  padding: 1rem;
}

.courses-institues-container {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 4px #ccc9c9;
}

.coursesInstitues-topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coursesInstitues-topContainer-leftbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* height: 40px; */
  border: 1px solid #eee;
}

.coursesInstitues-topContainer-leftbox select {
  height: 40px;
  width: 50px;
  border: 1px solid #ccc9c9;
  background: none;
  border-radius: 5px;
}

.coursesInstitues-topContainer-leftbox select:focus {
  outline: none;
}

.form-inline {
  height: 45px;
  width: 342px;
  border: 1px solid #ccc9c9;
  border-radius: 5px;
  overflow: hidden;
}

.input-box {
  height: 100% !important;
  width: 87% !important;
  border: none !important;
}

.searchicon {
  font-size: 20px;
  margin-left: 10px;
  color: #666666;
}

.input-box:focus {
  box-shadow: none !important;
}

.icon-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCC9C9;
  border-radius: 50%;
  padding: 8px;
}

@media screen and (max-width: 1440px) {
  .accountsetting-form-footer-container{
    overflow-x: scroll;
  }

  .table tr{
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1280px) {
  .table tr{
    font-size: 12px !important;
  }
  .icon-btn span{
    font-size: 18px !important;
  }

}
