label.error {
    color: red;
    width: 100%;
    display: inline-block;
    clear: both;
}
li.paginate_button.page-item.first {
    display: none;
}
li.paginate_button.page-item.last {
    display: none;
}
button.dt-button.buttons-csv.buttons-html5 {
    position: relative;
    float: left;
    margin: 25px 0 0 10px;
    padding: 2px 10px;
}
.reset_table.btn.btn-primary.btn-block {
    width: 100px;
    /* float: left; */
    margin-top: 7px;
    /* padding: 3px;*/
}
.date_ranger {
    float: left;
}
.date_ranger .form-group {
    float: left;
}

.up_center {
    margin: 0 auto;
}
table a.btn {
    margin: 0 5px;
}

.form-check {
    /* float: left; */
    padding: 10px;
}
label#permission_ids_label {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}
.form-group label{
    margin-bottom:0 !important
}
.form-check label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.form-check.form-check-inline label.form-check-label {
    font-weight: 700;
}
form button.btn.btn-primary.asign_permission_btn {
    display: flex;
    width: auto;
    clear: both;
    margin-top: 30px;
}
.row-equal-height {
    display: flex;
    flex-wrap: wrap;
}

.col-equal-height {
    flex: 1;
    margin: 15px 0; /* Adjust the margin as needed */
}

.inner_col {
    height: 100%;
    background: #eaeaea;
    padding: 15px;
}
select#role_id {
    text-transform: capitalize;
}

.form-check.form_check_left {
    float: left;
    width: 100%;
}
.form-check.form-check-inline {
    display: inline-block;
    width: 100%;
}
.cat_name_label {
    text-transform: capitalize;
}
.form-check-input {
    position: relative;
    margin-top: 0.3rem;
    margin-left: 0;
}


.item-alignment-right{
    /* item-align:right; */
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.btn-width-9-rem{
    width:9rem;
}

.btn-width-10-rem{
    width:10rem;
}

.btn-width-12-rem{
    width:12rem;
}

.btn-width{
    width: fit-content;
    padding: 5px 10px;
}

.hide{
    display: none !important;
}

.hr-border{
    border-top:1px solid rgba(0,0,0)
}