.dashboard-section {
  /* background-color: aquamarine; */
  padding: 1rem;
  width: 100%;
}

.admissionTimeline-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
}

.admitionTimeline-box {
  background-color: #f5ece6;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}

.admitionTimeline-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.admitionTimeline-para {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.dashboard-mid-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-container-dashboard {
  width: 49%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.dashboard-itemContainer {
  width: 48% !important;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(
    89.91deg,
    rgba(217, 217, 217, 0.15) 0.07%,
    rgba(206, 46, 40, 0.15) 0.07%,
    rgba(27, 172, 153, 0.15) 99.92%
  );
  position: relative;
  height: 210px !important;
}

.itemContainer-icon {
  width: 45px;
  height: 45px;
}

.itemContainer-h3 {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.itemContainer-p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.right-container-dashboard {
  width: 49%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.studentEnrollmentTitle {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-weight: 700;
}

.devider {
  width: 100%;
  border-bottom: 1px solid #666666;
}

.chartbox-container {
  width: 100% !important;
  height: 400px !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.myChart {
  padding: 1rem;
}

.dashboard-footer-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.footerContainer-itembox {
  width: 49%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 1990px) {
  .dashboard-itemContainer {
    height: 210px !important;
  }
  .chartbox-container {
    height: auto !important;
  }
  .myChart {
    height: 400px !important;
  }
}

@media screen and (max-width: 1660px) {
  .dashboard-footer-container {
    gap: 1rem;
  }
  .footerContainer-itembox {
    width: 49%;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard-section {
    height: auto !important;
    overflow-x: scroll;
    margin-bottom: 2rem;
  }
  .dashboard-section::-webkit-scrollbar {
    display: none;
  }
  .dashboard-mid-container {
    flex-direction: column;
  }

  .left-container-dashboard {
    width: 100%;
    gap: 1rem;
  }

  .dashboard-itemContainer {
    width: 45%;
    height: 170px !important;
  }

  .right-container-dashboard {
    width: 100%;
    margin-top: 1.5rem;
  }

  .myChart {
    width: 100% !important;
    height: auto !important;
  }
  .footerContainer-itembox {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .dashboard-itemContainer {
    width: 100% !important;
    height: auto !important;
    gap: 0.3rem;
  }
  .itemContainer-icon {
    width: 40px;
    height: 40px;
  }
  .itemContainer-h3 {
    font-size: 24px;
  }

  .dashboard-footer-container {
    flex-direction: column;
  }
  .footerContainer-itembox {
    width: 100%;
  }
}
