.student-img-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.click-explore-btn {
  font-size: 14px;
  font-weight: 600;
  color: #004272;
}



.testimonials-popup-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.25);
}

.testimonials-details-container{
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}


.testimonials-details-container .closeBtn{
    cursor: pointer;
    transition: 0.2s;
}

.testimonials-details-container .closeBtn:hover{
    background-color: #eee;
    border-radius: 50%;
    font-weight: bold;
    transition: 0.2s;
}

@media screen and (max-width: 1800px) {
    .testimonials-details-container{
        width: 60%;
    }
}

@media screen and (max-width: 1440px) {
    .testimonials-details-container{
        width: 70%;
    }
}

@media screen and (max-width: 1080px) {
    .testimonials-details-container{
        width: 80%;
    }
}

@media screen and (max-width: 990px) {
    .testimonials-details-container{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .enquiry-details-container{
        width:90%;
    }
}